@use '../variable.scss' as *;
@use '../mixin.scss' as *;
@use '../animation.scss' as *;
.component {
  @include prefix($prefix, "-tree") {
    position: relative;
    overflow: hidden;
    zoom: 1;
    font-size: $tree-text-size;
    box-sizing: border-box;

    @include subclass("--is-empty"){
      margin: 0;
      padding: $tree-empty-gap;
      text-align: center;
      color: $tree-empty-color;
    }

    @include subclass("--is-spining"){
      width: fit-content;
      margin: auto;
      text-align: center;
    }

    @include subclass("-spin-text"){
      margin: 0;
      padding: $tree-spining-gap;
      text-align: center;
      color: $tree-spining-color;
    }

    @include subclass("-wrap") {
      list-style: none;
      padding: 0;
      margin: 0;
      zoom: 1;
    }

    @include subclass("-item") {
      position: relative;
      display: block;
      list-style: none;
      overflow: hidden;
      padding: 0;
      margin: 0;
      zoom: 1;
      padding: 0;
      box-sizing: border-box;
    }

    @include subclass("-node") {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      overflow: hidden;
      padding: 0;
      text-decoration: none;
      color: inherit;
    }

    @include subclass("-node--is-icon") {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: $tree-icon-size;
      height: $tree-icon-size;
      overflow: hidden;
      transition: all 280ms;
    }
    
  
    @include subclass("-node--is-checkbox"){
        position: static;
        overflow: visible;
    } 

    @include subclass("-node--is-radio"){
      position: static;
      overflow: visible;
  }

    @include subclass("-node--is-content"){
        position: static;
        margin: 0;
        padding: $tree-content-gap;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    } 


    @include subclass("-node--is-open") {
      margin-top: -6px;
      transform: rotate(90deg);
    }

    @include subclass('-node--is-hide'){
      visibility: hidden;
    }

    @include subclass("-node--is-loading"){
      animation: spinner 1.2s linear infinite;
    }

    @include subclass("-node--is-actived"){
       background-color:$tree-active-bg-color;
    }

    @include subclass("-icon") {
      display: inline-block;
      @include arrow(12px, rgba(0, 0, 0, 0.56), right);
    }
    
    @include subclass("-loading"){
      display: inline-block;
      border: $tree-loading-track-size solid $tree-loading-color;
      border-left-color: $tree-loading--actived-color;
      border-radius: 50%;
      height: $tree-loading-size;
      width: $tree-loading-size;
      box-sizing: border-box;
    } 
  }
}
