@use '../variable.scss' as *;
@use '../mixin.scss' as *;
.component {
  @include prefix($prefix, "-fold") {
    display: block;
    position: relative;
    overflow: hidden;
    zoom: 1;

    @include subclass("-header") {
      display: block;
      position: relative;
      flex: 1;
      padding:{
        left: $fold-header-gap;
        right: 0;
        top: 0;
        bottom: 0;
      };
      text-align: left;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: $fold-line-height;
        width: $fold-line-width;
        background-color: $fold-line-color;
        transform: translate3d(0, -50%, 0);
      }
    }

    @include subclass("-title") {
      font-size: $fold-title-size;
      color: $fold-title-color;
    }

    @include subclass("-arrow") {
      display: block;
      will-change: transform;
      transition: transform 280ms;
    }

    @include subclass('-rotate'){
      transform: rotate(90deg);
    }

    @include subclass("-icon") {
      display: inline-block;
      vertical-align: middle;
      width: $fold-arrow-box-size;
      height:$fold-arrow-box-size;
      @include arrow($fold-arrow-size, $fold-arrow-color, $fold-arrow-dir);
    }
    
    @include subclass('-container'){
      display: block;
      padding: $fold-panel-gap;
      overflow: hidden;
      transition: all 0.2s;
    }

  }
}
