//@FORMATTER=OFF
PRIMARY = #1CA8DD;
SECONDARY = #82D5F5;
TERTIARY = #FF9523;
ACCENT = #ff006b;
ERROR = #ff0000;
INFO = #4CC053;
SUCCESS = #7fc146;
WARNING = #ff554d;

FACE_BACKGROUND = #fff;
TEXT_COLOR = #333;
SEC_TEXT_COLOR = #8282a0;
SEC_BACKGROUND = #9AE3FF;
DIVIDER_COLOR = #ccc;

GRADIENT = linear-gradient(to right, #4DC9F7, #1CA8DD);


$component_table_bg_color = #FFFFFF;
$component_table_stripe_color = rgba(247, 247, 247, 1);
$component_table_border_size = 1px;
$component_table_border_color = rgba(200, 200, 200, 0.78);
$component_table_font_size = 16px;
$component_table_header_height = 48px;
$component_table_header_gap = 9px 15px;
$component_table_body_gap = 9px 0;
$component_table_empty_color = rgba(0, 0, 0, 0.38);
$component_table_cell_size = 29px;
$component_table_cell_color = rgba(94, 94, 94, 1);
$component_table_icon_size = 5px;
$component_table_icon_gap = 2px;
$component_table_icon_color = rgb(164, 164, 164);
$component_table_icon_active_color = rgba(0, 0, 0, .87);
/*************************************************/
$component_table_small_font_size = 13px;
$component_table_header_small_height = 25px;
$component_table_cell_small_size = 15px;
$component_table_header_small_gap = 5px 7px;
$component_table_body_small_gap = 5px 0;
/*************************************************/
$component_table_large_font_size = 18px;
$component_table_header_large_height = 55px;
$component_table_cell_large_size = 31px;
$component_table_header_large_gap = 12px 7px;
$component_table_body_large_gap = 12px 0;




