@use '../variable.scss' as *;
@use '../mixin.scss' as *;
@use 'sass:selector';
.component {
  @include prefix($prefix, "-table") {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    box-sizing: border-box;

    &-panel--is-full {
      height: 100%;
      width: 100%;
    }

    @include subclass("-caption") {
      position: relative;
    }

    @include subclass("-container") {
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
    }
    $parent: selector.replace(&, ".component", "*");
    @include subclass("-is-stripe") {
      & #{$parent}-header,
      #{$parent}-header--wrap {
        & table thead th {
          background-color:$table-stripe-color;
        }
      }
      & #{$parent}-body,
      & #{$parent}-body--wrap {
        & table tbody > tr:nth-child(even) {
          background-color: $table-stripe-color;
        }
      }
    }

    @include subclass("-header--is-fixed") {
      overflow-y: hidden;

      & #{$parent}-body {
        overflow-y: auto;
      }
    }

    @include subclass("-is-xscroll") {
      overflow-x: auto;

      &#{$parent}-header--is-fixed {
        overflow-x: hidden;

        & #{$parent}-body {
          overflow-x: auto;
        }
      }
    }

    @include subclass("-container--is-fixed") {
      position: absolute;
      top: 0;
      right: auto;
      left: auto;
      background-color: #ffffff;
      overflow: hidden;
    }
    @include subclass("-header") {
      position: relative;
      overflow: hidden;
      transition: all 0.1s;
    }

    @include subclass("-body") {
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;

      & #{$parent}-wrap {
        margin-top: -1 * $table-border-width;
      }
    }

    @include subclass("header--wrap") {
      position: relative;
      overflow: hidden;
      transition: all 0.1s;

      table thead tr:only-child th[rowspan="2"] {
        height: $table-header-row-height * 2;
      }
    }

    @include subclass("-body--wrap") {
      position: relative;
      overflow: hidden;

      & #{$parent}-wrap {
        margin-top: -1 * $table-border-width;
      }
    }

    @include subclass("-wrap") {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      border-spacing: 0;
      transition: all 0.1s;

      &[skin="line"] {
        th,
        td {
          border-width: 0;
          border-bottom-width: $table-border-width;
        }
      }

      &[skin="row"] {
        th,
        td {
          border-width: 0;
          border-right-width: $table-border-width;
        }
      }

      &[skin="none"] {
        th,
        td {
          border: none;
        }
      }

      tr {
        transition: all 0.3s;
      }

      th {
        font-weight: 400;
        border-width: $table-border-width;
        border-style: solid;
        border-color:$table-border-color;
        position: relative;
        padding: $table-header-cell-gap;
        height: $table-header-row-height;
        line-height: $table-header-row-height;
        font-size: $table-font-size;
      }

      td {
        border-width: $table-border-width;
        border-style: solid;
        border-color: $table-border-color;
        position: relative;
        padding: $table-body-cell-gap;
        font-size: $table-font-size;
      }
    }

    @include subclass("--is-empty") {
      color: $table-empty-color;
    }

    @include subclass("--is-loading") {
      padding: 0 0;
    }

    @include subclass("--is-editable") {
      cursor: pointer;
    }

    @include subclass("-cell") {
      width: 100%;
      min-height: $table-cell-height;
      line-height: $table-cell-height;

      &[aria-sort="desc"] {
        #{$parent}-icon-desc {
          border-top-color: $table-sort-active-color;
        }
      }
      &[aria-sort="asc"] {
        #{$parent}-icon-asc {
          border-bottom-color:$table-sort-active-color;
        }
      }
    }

    @include subclass("-cell-ellipsis") {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @include subclass("-cell-cursor") {
      cursor: pointer;
    }

    @include subclass("-sort") {
      display: inline-block;
      position: relative;
      padding: 0 0;
      width: $table-icon-size * 2;
      height: $table-icon-size * 4 + $table-icon-gap;
      margin: 0 $table-icon-gap;
      vertical-align: middle;
    }

    @include subclass("-icon") {
      position: absolute;
      left: 0px;
      border-width: $table-icon-size;
      border-style: solid;
      border-color: transparent;
      display: inline-block;
      width: 0;
      height: 0;
    }

    @include subclass("-icon-asc") {
      top: 0px;
      border-bottom-color: $table-sort-color;
    }
    @include subclass("-icon-desc") {
      bottom: 0px;
      border-top-color:$table-sort-color;
    }

    @include subclass("-pagination") {
      position: relative;
    }
  }
}
