@use '../variable.scss' as *;
@use '../mixin.scss' as *;
@use '../common' as lib;
@use "sass:math";
.component {
  @include prefix($prefix, "-field") {
    position: relative;
    width: 100%;
    overflow: hidden;
    zoom: 1;
    box-sizing: border-box;
    @include lib.box;
    min-height: $field-min-height;
    flex-wrap: nowrap;
    align-items: center;
    background-color: $field-bgcolor;
    @include line($field-border-color);

    @include subclass("-label") {
      font-size: $field-font-size;
      color: $field-label-color;
    }
    @include subclass("-required") {
      position: relative;
      padding-left: $field-gap;
      &:before {
        content: "*";
        position: absolute;
        color: red;
        left: 0;
        top: 50%;
        transform: translate3d(0,-50%,0);
      }
    }

    @include subclass("-container") {
      position: relative;
      flex: 1;
      @include lib.box;
      align-items: center;
    }

    @include subclass("-box") {
      flex: 1;
      display: block;
      padding: $field-input-box-padding;
      position: relative;
    }

    @include txt-align($field-text-align, $field-browsers);

    @include subclass("-block") {
      width: 100%;
      display: block;
      flex: 1;
      min-height: $field-min-height - 8px;
      font-size: $field-font-size;
      color: #0c0c0c;
      outline: none;
      border: none;
      box-sizing: border-box;
      appearance: none;
      text-align: inherit;
    }

    @include placeholder("placeholder",$field-browsers,"input.mux-field-block") {
      font-size: $field-font-size;
      color: $field-placeholder-color;
    }

    @include subclass("-is-plain") {
      border: {
        width: 1px;
        style:solid;
        color: $field-border-color;
      }
    }

    @include subclass("-is-danger") {
      border: {
        width: 1px;
        style:solid;
        color: $field-help-color !important;
      }
    }
    @include subclass("-is-rounded") {
      border-radius: $field-border-radius;
    }

    @include subclass("-help") {
      position: absolute;
      right: math.div($field-gap,4);
      top: 50%;
      color: $field-help-color;
      font-size: $field-help-font-size;
      transform: translate3d(0, -50%, 0);
    }

    @include subclass("-cleanbox") {
      display: block;
      padding-right: $field-gap;
    }

    @include subclass("-clear-icon") {
      @include lib.close($field-icon-size, $field-icon-color);
    }

    @include subclass("-append") {
      display: block;
      position: relative;
    }
  }
}
