$prefix:MUX;

$base-color:#FFFFFF;
$border-color:#dcdcdc;
$border-radius:6px;
$gap:15px;



$matte:rgba(0,0,0,0.3);
$matte-opacity:0.5;

$action-sheet-bgcolor:#e0e0e0;
$action-sheet-border-color:#e0e0e0;
$action-sheet-item:$base-color;
$action-sheet-item-width:100%;
$action-sheet-item-height:45px;
$action-sheet-item-fontsize:18px;
$action-sheet-item-color:#212121;
$action-sheet-item-cancel-gap:5px;


$alert-btnarea-padding: 0 $border-radius;

$avatar-zindex:4;
$avatar-shadow:0 0px 4px 2px #a9d9ef;
$avatar-placeholder-bgcolor:#3f9ff3;
$avatar-placeholder-color:$base-color;

$btn-shadow-size:-10px;
$btn-radius:$border-radius;
$btn-color-map:("default":(#ffffff,#212121,#dddddd,#212121),"primary":(#26a2ff,#FFFFFF,#26a2ff,#26a2ff),"danger":(#ef4f4f,#FFFFFF,#ef4f4f,#ef4f4f),"error":(#ff0000,#FFFFFF,#ff0000,#ff0000));
$btn-size-map:("small":(14px,4px,10px),"normal":(16px,8px,12px),"large":(18px,12px,16px));

$card-gap:$gap;
$card-border-color:$border-color;
$card-shadow:0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);


$cell-bgcolor:$base-color;
$cell-border-color:$border-color;
$cell-min-height:46px;
$cell-align-map:("start":flex-start,"end":flex-end,"center":center,"baseline":baseline,"stretch":stretch);
$cell-content-map:("start":flex-start,"end":flex-end,"center":center,"between":space-between,"around":space-around);
$cell-direction-list:row,column;
$cell-arrow-box-size:16px;
$cell-arrow-color:rgba(0,0,0,0.56);
$cell-arrow-size:10px;
$cell-arrow-dir:right;

$checkbox-border-color:$border-color;
$checkbox-bgcolor: $base-color;
$checkbox-checked-color:#3598db;
$checkbox-disabled-color:#dddddd;
$checkbox-box-size:20px;
$checkbox-box-gap:8px;
$checkbox-label-color:#0c0c0c;
$checkbox-label-font-size:15px;
$checkbox-clip-list:(10px,6px);

$confirm-gap:$border-radius;
$confirm-divider-height:26px;
$confirm-divider-color:$border-color;
$confirm-btns:("cancel":left,"confirm":right);


$dialog-radius:6px;
$dialog-width:75%;
$dialog-font-size:16px;
$dialog-bgcolor:$base-color;
$dialog-header-padding:$gap 0 $gap/2;
$dialog-content-min-height:40px;
$dialog-content-padding: 0 $gap;
$dialog-border-color:$border-color;


$field-z-index:2020;
$field-min-height:44px;
$field-bgcolor:$base-color;
$field-font-size:15px;
$field-gap:8px;
$field-placeholder-color:#bcbcbc;
$field-border-color:$border-color;
$field-border-radius:$border-radius;
$field-help-color:rgba(#f00,.78);
$field-help-font-size:12px;
$field-label-color:#787878;
$field-icon-color:#aaa;
$field-icon-size:16px;
$field-input-box-padding:0 $field-gap;
$field-text-align:(left,right,center);
$field-browsers:("webkit":("-webkit-input-",false),"ms":("-ms-input-",true),"moz":("-moz-",false));

$fold-header-gap:10px;
$fold-line-height:18px;
$fold-line-width:2px;
$fold-line-color:#009688;
$fold-title-size:16px;
$fold-title-color:#212121;
$fold-arrow-box-size:16px;
$fold-arrow-color:rgba(0,0,0,0.56);
$fold-arrow-size:10px;
$fold-arrow-dir:right;
$fold-panel-gap:12px 15px 0;


$header-bgcolor:#26a2ff;
$header-min-height:50px;
$header-side-min-width:40px;
$header-title-color:$base-color;
$header-title-size:16px;
$header-title-weight:600;
$header-side-size:15px;
$header-side-color:$base-color;
$header-side-gap:16px;
$header-side-box:16px;
$header-side-box-color:$base-color;
$header-more-color:$base-color;
$header-more-size:15px;

$prompt-gap:$border-radius;
$prompt-divider-height:26px;
$prompt-divider-color:$border-color;
$prompt-btns:("cancel":left,"confirm":right);

$radio-border-color:$border-color;
$radio-bgcolor: $base-color;
$radio-checked-color:#3598db;
$radio-disabled-color:#dddddd;
$radio-focus-opacity:0.2;
$radio-box-size:22px;
$radio-box-gap:8px;
$radio-label-color:#0c0c0c;
$radio-label-font-size:15px;



