@use '../variable.scss' as *;
@use '../mixin.scss' as *;
.component {
  @include prefix($prefix, "-avatar") {
    display: block;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 50%;
    &-shadow {
      margin: 4px;
      box-shadow: $avatar-shadow;
    }
    
    @include fitmap($avatar-fit-map);
     
    @include subclass("-image") {
      display: inline-block;
      vertical-align: middle;
    }

    @include subclass("-placeholder"){
      position:absolute;
      @include setposition(0,0);
      z-index: $avatar-zindex;
      vertical-align: middle;
      background-color: $avatar-placeholder-bgcolor;
      color: $avatar-placeholder-color;
      line-height: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}
