@use '../variable.scss' as *;
@use '../mixin.scss' as *;
.component {
  @include prefix($prefix, "-alert") {
    overflow: hidden;

    @include subclass("-content") {
      margin: 0;
    }

    @include subclass("-btnarea") {
      position: relative;
      flex: 1;
      overflow: hidden;
      padding: $alert-btnarea-padding;
      & .mux-btn--is-plain{
        border:none ;
      }
    }
  }
}
